@media (max-width: 575.98px) { 

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  input[type=text], input[type=email], input[type=number] {
    padding: 5px;
  }

  .communs {
    padding: 0;
    border-radius: 0;
  }

  .wrapper section {
    display: flex;
    flex-direction: column;
  }

  .sections {
    margin: 50px 0;
    padding: 0;
    min-width: 300px;
  }

  h2 {
    font-size: 1.3em;
  }
  
  #bloc1 form {
    display: flex;
    flex-flow: column;
  }
  
  #searchClient {
    align-self: center;
    width: 50%;
    height: 50px;
  }

  select {
    height: 30px;
  }

  #postalCode {
    margin-left: 0;
  }
  #city {
    margin-left: 0;
  }

  #validButton {
    height: 50px;
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) { }