@media all and (max-width: 576px) {
  #bloc1 {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-right: none;
    border-left: none;
  }
  #linkRH {
    width: auto;
    height: auto;
  }
  .buttonRH {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .sections {
    flex-direction: column;
    display: flex;
    margin: 60px 0px 40px 0px;
    padding: 0;
  }
  article.communs {
    margin-bottom: 10px;
    padding: 0;
  }
  #title {
    font-size: 1em;
    text-align: center;
  }
  #buttonDis {
    margin-right: 0px;
  }
  .geo {
    display: none;
  }
  #logo {
    height: 5em;
    width: 5em;
  }
}

@media all and (min-width: 577px) and (max-width: 992px) {
  #bloc1 {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-right: none;
    border-left: none;
  }
  #linkRH {
    width: auto;
    height: auto;
  }
  .buttonRH {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .sections {
    flex-direction: column;
    display: flex;
    margin: 60px 0px 40px 0px;
    padding: 0;
  }
  article.communs {
    margin-bottom: 10px;
  }
  #title {
    font-size: 2.5em;
    text-align: center;
  }
  #buttonDis {
    margin-right: 0px;
  }
}
